-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: posyandu_management
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `absensi_detail`
--

DROP TABLE IF EXISTS `absensi_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `absensi_detail` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `absensi_id` bigint(20) unsigned NOT NULL,
  `pasien_id` bigint(20) unsigned NOT NULL,
  `pasien_type` varchar(50) NOT NULL,
  `hadir` tinyint(1) NOT NULL DEFAULT 0,
  `keterangan` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_absensi_pasien` (`absensi_id`,`pasien_id`,`pasien_type`),
  KEY `idx_pasien_id_type` (`pasien_id`,`pasien_type`),
  CONSTRAINT `fk_absensi_detail_absensi_id` FOREIGN KEY (`absensi_id`) REFERENCES `absensi_posyandu` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `absensi_detail`
--

LOCK TABLES `absensi_detail` WRITE;
/*!40000 ALTER TABLE `absensi_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `absensi_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `absensi_posyandu`
--

DROP TABLE IF EXISTS `absensi_posyandu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `absensi_posyandu` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kode_absensi` varchar(30) NOT NULL,
  `nomor_pertemuan` int(10) unsigned NOT NULL DEFAULT 1 COMMENT 'Urutan pertemuan per kategori (1,2,3...)',
  `kategori` enum('bayi','balita','remaja','lansia') NOT NULL,
  `tanggal_posyandu` date NOT NULL,
  `bulan` tinyint(3) unsigned NOT NULL,
  `tahun` smallint(5) unsigned NOT NULL,
  `catatan` text DEFAULT NULL,
  `dicatat_oleh` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_absensi` (`kode_absensi`),
  KEY `idx_kategori_bulan_tahun` (`kategori`,`bulan`,`tahun`),
  KEY `fk_absensi_posyandu_dicatat_oleh` (`dicatat_oleh`),
  CONSTRAINT `fk_absensi_posyandu_dicatat_oleh` FOREIGN KEY (`dicatat_oleh`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `absensi_posyandu`
--

LOCK TABLES `absensi_posyandu` WRITE;
/*!40000 ALTER TABLE `absensi_posyandu` DISABLE KEYS */;
INSERT INTO `absensi_posyandu` VALUES (8,'ABS-REM-20260403-452',1,'remaja','2026-04-03',4,2026,NULL,2,'2026-04-02 23:35:24','2026-04-02 23:35:24');
/*!40000 ALTER TABLE `absensi_posyandu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `balitas`
--

DROP TABLE IF EXISTS `balitas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `balitas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `kode_balita` varchar(20) DEFAULT NULL,
  `nik` varchar(16) DEFAULT NULL,
  `nama_lengkap` varchar(191) DEFAULT NULL,
  `tempat_lahir` varchar(100) DEFAULT NULL,
  `tanggal_lahir` date DEFAULT NULL,
  `jenis_kelamin` enum('L','P') DEFAULT NULL,
  `nama_ibu` varchar(191) DEFAULT NULL,
  `nik_ibu` varchar(16) DEFAULT NULL,
  `nama_ayah` varchar(191) DEFAULT NULL,
  `nik_ayah` varchar(16) DEFAULT NULL,
  `alamat` text DEFAULT NULL,
  `berat_lahir` decimal(5,2) DEFAULT NULL,
  `panjang_lahir` decimal(5,2) DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_balita` (`kode_balita`),
  UNIQUE KEY `nik` (`nik`),
  KEY `fk_balita_user_acc` (`user_id`),
  CONSTRAINT `fk_balita_user_acc` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=89 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `balitas`
--

LOCK TABLES `balitas` WRITE;
/*!40000 ALTER TABLE `balitas` DISABLE KEYS */;
/*!40000 ALTER TABLE `balitas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bidans`
--

DROP TABLE IF EXISTS `bidans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bidans` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `jabatan` varchar(191) NOT NULL DEFAULT 'Bidan Desa',
  `no_str` varchar(191) DEFAULT NULL,
  `no_sip` varchar(191) DEFAULT NULL,
  `lokasi_praktik` varchar(191) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bidans_user_id_foreign` (`user_id`),
  CONSTRAINT `bidans_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bidans`
--

LOCK TABLES `bidans` WRITE;
/*!40000 ALTER TABLE `bidans` DISABLE KEYS */;
INSERT INTO `bidans` VALUES (1,4,'Bidan Desa',NULL,NULL,NULL,'2026-02-01 05:41:14','2026-02-01 05:41:14');
/*!40000 ALTER TABLE `bidans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(191) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(191) NOT NULL,
  `owner` varchar(191) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `data_imports`
--

DROP TABLE IF EXISTS `data_imports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `data_imports` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama_file` varchar(191) NOT NULL,
  `jenis_data` enum('balita','remaja','lansia') NOT NULL,
  `file_path` varchar(191) NOT NULL,
  `status` enum('pending','processing','completed','failed') NOT NULL DEFAULT 'pending',
  `total_data` int(11) DEFAULT NULL,
  `data_berhasil` int(11) DEFAULT NULL,
  `data_gagal` int(11) DEFAULT NULL,
  `catatan` text DEFAULT NULL,
  `created_by` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `data_imports_created_by_foreign` (`created_by`),
  CONSTRAINT `data_imports_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `data_imports`
--

LOCK TABLES `data_imports` WRITE;
/*!40000 ALTER TABLE `data_imports` DISABLE KEYS */;
/*!40000 ALTER TABLE `data_imports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(191) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ibu_hamils`
--

DROP TABLE IF EXISTS `ibu_hamils`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ibu_hamils` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned DEFAULT NULL COMMENT 'Link ke akun warga',
  `kode_hamil` varchar(30) DEFAULT NULL COMMENT 'Kode unik ibu hamil',
  `nama_lengkap` varchar(255) NOT NULL,
  `nik` varchar(16) DEFAULT NULL,
  `tempat_lahir` varchar(255) DEFAULT NULL,
  `tanggal_lahir` date DEFAULT NULL,
  `nama_suami` varchar(255) DEFAULT NULL,
  `alamat` text DEFAULT NULL,
  `telepon_ortu` varchar(15) DEFAULT NULL,
  `hpht` date DEFAULT NULL COMMENT 'Hari Pertama Haid Terakhir',
  `hpl` date DEFAULT NULL COMMENT 'Hari Perkiraan Lahir',
  `golongan_darah` varchar(3) DEFAULT NULL,
  `riwayat_penyakit` varchar(255) DEFAULT NULL,
  `berat_badan` decimal(5,2) DEFAULT NULL COMMENT 'BB saat ini (kg)',
  `tinggi_badan` decimal(5,2) DEFAULT NULL COMMENT 'TB (cm)',
  `imt` decimal(5,2) DEFAULT NULL COMMENT 'IMT otomatis dari BB/TB',
  `status` enum('aktif','selesai') NOT NULL DEFAULT 'aktif' COMMENT 'aktif=masih hamil',
  `created_by` bigint(20) unsigned DEFAULT NULL COMMENT 'ID kader yang input',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `nik` (`nik`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ibu_hamils`
--

LOCK TABLES `ibu_hamils` WRITE;
/*!40000 ALTER TABLE `ibu_hamils` DISABLE KEYS */;
INSERT INTO `ibu_hamils` VALUES (1,NULL,'IBH-26048491','Yaya','3326032302930001','Pekalongan','1993-02-23','Gopal','Pekalongan','081122883344','2026-04-03','2027-01-21',NULL,NULL,60.00,160.00,NULL,'aktif',2,'2026-04-02 20:01:05','2026-04-02 20:01:05');
/*!40000 ALTER TABLE `ibu_hamils` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `imunisasis`
--

DROP TABLE IF EXISTS `imunisasis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `imunisasis` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kunjungan_id` bigint(20) unsigned DEFAULT NULL,
  `jenis_imunisasi` varchar(100) NOT NULL,
  `vaksin` varchar(100) DEFAULT NULL,
  `dosis` varchar(50) DEFAULT NULL,
  `tanggal_imunisasi` date NOT NULL,
  `batch_number` varchar(50) DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  `penyelenggara` varchar(191) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_imunisasi_kunjungan` (`kunjungan_id`),
  CONSTRAINT `fk_imunisasi_kunjungan` FOREIGN KEY (`kunjungan_id`) REFERENCES `kunjungans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `imunisasis`
--

LOCK TABLES `imunisasis` WRITE;
/*!40000 ALTER TABLE `imunisasis` DISABLE KEYS */;
INSERT INTO `imunisasis` VALUES (1,8,'Dasar','Polio','0,5','2026-03-17',NULL,NULL,NULL,'2026-03-17 01:16:09','2026-03-17 01:16:09');
/*!40000 ALTER TABLE `imunisasis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jadwal_kegiatans`
--

DROP TABLE IF EXISTS `jadwal_kegiatans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jadwal_kegiatans` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `created_by` bigint(20) unsigned NOT NULL,
  `nama_kegiatan` varchar(255) NOT NULL,
  `tanggal_kegiatan` date NOT NULL,
  `waktu_mulai` time NOT NULL,
  `waktu_selesai` time NOT NULL,
  `lokasi` varchar(255) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `status` enum('dijadwalkan','selesai','dibatalkan') DEFAULT 'dijadwalkan',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jadwal_kegiatans`
--

LOCK TABLES `jadwal_kegiatans` WRITE;
/*!40000 ALTER TABLE `jadwal_kegiatans` DISABLE KEYS */;
/*!40000 ALTER TABLE `jadwal_kegiatans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jadwal_posyandu`
--

DROP TABLE IF EXISTS `jadwal_posyandu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jadwal_posyandu` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `judul` varchar(191) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `tanggal` date NOT NULL,
  `waktu_mulai` time NOT NULL,
  `waktu_selesai` time NOT NULL,
  `lokasi` varchar(191) DEFAULT 'Balai Desa / Posyandu',
  `kategori` enum('imunisasi','pemeriksaan','konseling','posyandu','lainnya') NOT NULL,
  `target_peserta` enum('semua','balita','remaja','lansia','ibu_hamil') NOT NULL,
  `status` enum('aktif','selesai','dibatalkan') NOT NULL DEFAULT 'aktif',
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jadwal_posyandu`
--

LOCK TABLES `jadwal_posyandu` WRITE;
/*!40000 ALTER TABLE `jadwal_posyandu` DISABLE KEYS */;
/*!40000 ALTER TABLE `jadwal_posyandu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jadwals`
--

DROP TABLE IF EXISTS `jadwals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jadwals` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama_kegiatan` varchar(255) NOT NULL,
  `tanggal_kegiatan` date NOT NULL,
  `waktu_mulai` time NOT NULL,
  `waktu_selesai` time DEFAULT NULL,
  `lokasi` varchar(255) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jadwals`
--

LOCK TABLES `jadwals` WRITE;
/*!40000 ALTER TABLE `jadwals` DISABLE KEYS */;
/*!40000 ALTER TABLE `jadwals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_batches` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(191) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kaders`
--

DROP TABLE IF EXISTS `kaders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kaders` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `jabatan` varchar(191) DEFAULT NULL,
  `tanggal_bergabung` date DEFAULT NULL,
  `status_kader` enum('aktif','nonaktif') NOT NULL DEFAULT 'aktif',
  `wilayah_binaan` varchar(191) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kaders_user_id_foreign` (`user_id`),
  CONSTRAINT `kaders_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kaders`
--

LOCK TABLES `kaders` WRITE;
/*!40000 ALTER TABLE `kaders` DISABLE KEYS */;
INSERT INTO `kaders` VALUES (1,2,'kader','2026-01-19','aktif',NULL,'2026-01-19 02:19:10','2026-01-19 02:19:10');
/*!40000 ALTER TABLE `kaders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `konseling_remajas`
--

DROP TABLE IF EXISTS `konseling_remajas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `konseling_remajas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `remaja_id` bigint(20) unsigned NOT NULL,
  `petugas_id` bigint(20) unsigned DEFAULT NULL,
  `tanggal_konseling` date NOT NULL,
  `topik` varchar(255) DEFAULT NULL,
  `keluhan` text NOT NULL,
  `saran` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `konseling_remajas`
--

LOCK TABLES `konseling_remajas` WRITE;
/*!40000 ALTER TABLE `konseling_remajas` DISABLE KEYS */;
INSERT INTO `konseling_remajas` VALUES (1,1,NULL,'2026-03-06',NULL,'halo saya oisdoijoi dhfouhds oahdoiha oajdoihja oajdij oadoi oiahdoh oiahdiuh ihadiuh ihaiudh',NULL,'2026-03-05 21:35:08','2026-03-05 21:35:08');
/*!40000 ALTER TABLE `konseling_remajas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `konselings`
--

DROP TABLE IF EXISTS `konselings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `konselings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `bidan_id` bigint(20) unsigned DEFAULT NULL,
  `topik` varchar(255) DEFAULT NULL,
  `pesan` text NOT NULL,
  `pengirim` enum('warga','bidan') NOT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `konselings`
--

LOCK TABLES `konselings` WRITE;
/*!40000 ALTER TABLE `konselings` DISABLE KEYS */;
/*!40000 ALTER TABLE `konselings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `konsultasis`
--

DROP TABLE IF EXISTS `konsultasis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `konsultasis` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `konsultasis`
--

LOCK TABLES `konsultasis` WRITE;
/*!40000 ALTER TABLE `konsultasis` DISABLE KEYS */;
/*!40000 ALTER TABLE `konsultasis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kunjungans`
--

DROP TABLE IF EXISTS `kunjungans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kunjungans` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kode_kunjungan` varchar(20) DEFAULT NULL,
  `pasien_id` bigint(20) unsigned NOT NULL,
  `pasien_type` varchar(191) NOT NULL,
  `tanggal_kunjungan` date NOT NULL,
  `jenis_kunjungan` enum('umum','imunisasi','pemeriksaan','konsultasi','darurat') DEFAULT 'umum',
  `pertemuan_ke` int(11) DEFAULT 1 COMMENT 'Catatan Absensi Pertemuan',
  `keluhan` text DEFAULT NULL,
  `petugas_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_kunjungan` (`kode_kunjungan`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kunjungans`
--

LOCK TABLES `kunjungans` WRITE;
/*!40000 ALTER TABLE `kunjungans` DISABLE KEYS */;
/*!40000 ALTER TABLE `kunjungans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lansias`
--

DROP TABLE IF EXISTS `lansias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lansias` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `kode_lansia` varchar(20) DEFAULT NULL,
  `nik` varchar(16) DEFAULT NULL,
  `nama_lengkap` varchar(191) DEFAULT NULL,
  `tempat_lahir` varchar(100) DEFAULT NULL,
  `tanggal_lahir` date DEFAULT NULL,
  `jenis_kelamin` enum('L','P') DEFAULT NULL,
  `alamat` text DEFAULT NULL,
  `penyakit_bawaan` text DEFAULT NULL,
  `berat_badan` decimal(5,1) DEFAULT NULL COMMENT 'kg',
  `tinggi_badan` decimal(5,1) DEFAULT NULL COMMENT 'cm',
  `imt` decimal(5,2) DEFAULT NULL COMMENT 'Indeks Massa Tubuh (otomatis dihitung)',
  `kemandirian` enum('A','B','C') DEFAULT NULL COMMENT 'A=Mandiri, B=Sebagian Bantuan, C=Total',
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_lansia` (`kode_lansia`),
  UNIQUE KEY `nik` (`nik`),
  KEY `fk_lansia_user_acc` (`user_id`),
  CONSTRAINT `fk_lansia_user_acc` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lansias`
--

LOCK TABLES `lansias` WRITE;
/*!40000 ALTER TABLE `lansias` DISABLE KEYS */;
/*!40000 ALTER TABLE `lansias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `laporans`
--

DROP TABLE IF EXISTS `laporans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `laporans` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `laporans`
--

LOCK TABLES `laporans` WRITE;
/*!40000 ALTER TABLE `laporans` DISABLE KEYS */;
/*!40000 ALTER TABLE `laporans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `login_logs`
--

DROP TABLE IF EXISTS `login_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `login_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `login_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `status` enum('success','failed') NOT NULL DEFAULT 'success',
  `failure_reason` varchar(191) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `login_logs_user_id_index` (`user_id`),
  KEY `login_logs_login_at_index` (`login_at`),
  KEY `login_logs_status_index` (`status`),
  CONSTRAINT `login_logs_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=190 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `login_logs`
--

LOCK TABLES `login_logs` WRITE;
/*!40000 ALTER TABLE `login_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `login_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(191) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifikasi_user`
--

DROP TABLE IF EXISTS `notifikasi_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifikasi_user` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `read_at` timestamp NULL DEFAULT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT 0 COMMENT '0=Belum, 1=Sudah',
  `judul` varchar(255) NOT NULL,
  `pesan` text NOT NULL,
  `link` varchar(255) DEFAULT NULL,
  `dibaca` tinyint(1) NOT NULL DEFAULT 0,
  `tipe` varchar(50) NOT NULL DEFAULT 'info',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `notifikasi_user_user_id_foreign` (`user_id`),
  CONSTRAINT `notifikasi_user_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifikasi_user`
--

LOCK TABLES `notifikasi_user` WRITE;
/*!40000 ALTER TABLE `notifikasi_user` DISABLE KEYS */;
INSERT INTO `notifikasi_user` VALUES (1,5,'2026-02-15 22:54:55',0,'Jadwal Baru: RUTINAN','Halo! Ada kegiatan posyandu di BALAI DESA pada tanggal 16 February 2026.',NULL,1,'jadwal','2026-02-15 22:45:46','2026-02-27 01:55:16');
/*!40000 ALTER TABLE `notifikasi_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifikasis`
--

DROP TABLE IF EXISTS `notifikasis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifikasis` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `judul` varchar(191) NOT NULL,
  `pesan` text NOT NULL,
  `tipe` enum('info','peringatan','jadwal') DEFAULT 'info',
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `read_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_notif_user_target` (`user_id`),
  CONSTRAINT `fk_notif_user_target` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifikasis`
--

LOCK TABLES `notifikasis` WRITE;
/*!40000 ALTER TABLE `notifikasis` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifikasis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(191) NOT NULL,
  `token` varchar(191) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pemeriksaan_ibu_hamil`
--

DROP TABLE IF EXISTS `pemeriksaan_ibu_hamil`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pemeriksaan_ibu_hamil` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `ibu_hamil_id` bigint(20) unsigned NOT NULL COMMENT 'FK ke ibu_hamils.id',
  `bidan_id` bigint(20) unsigned DEFAULT NULL COMMENT 'ID bidan pemeriksa',
  `tanggal_periksa` date NOT NULL DEFAULT curdate(),
  `berat_badan` decimal(5,2) DEFAULT NULL COMMENT 'BB saat periksa (kg)',
  `tinggi_badan` decimal(5,2) DEFAULT NULL COMMENT 'TB (cm)',
  `imt` decimal(5,2) DEFAULT NULL,
  `kenaikan_bb` decimal(4,2) DEFAULT NULL COMMENT 'Kenaikan BB dari sebelumnya (kg)',
  `tekanan_darah` varchar(20) DEFAULT NULL COMMENT 'mis: 120/80',
  `denyut_nadi` smallint(6) DEFAULT NULL COMMENT 'bpm',
  `suhu_tubuh` decimal(4,2) DEFAULT NULL,
  `detak_jantung_janin` smallint(6) DEFAULT NULL COMMENT 'bpm DJJ',
  `tinggi_fundus_uteri` decimal(4,1) DEFAULT NULL COMMENT 'TFU dalam cm',
  `presentasi_janin` varchar(50) DEFAULT NULL COMMENT 'kepala/sungsang/lintang',
  `usia_kehamilan_minggu` tinyint(4) DEFAULT NULL COMMENT 'Usia kehamilan saat periksa',
  `hemoglobin` decimal(4,2) DEFAULT NULL COMMENT 'Hb mg/dL',
  `protein_urin` varchar(10) DEFAULT NULL COMMENT '+1/+2/+3/negatif',
  `gula_darah` varchar(50) DEFAULT NULL,
  `keluhan` text DEFAULT NULL,
  `diagnosa` text DEFAULT NULL COMMENT 'Diagnosa klinis bidan',
  `tindakan` text DEFAULT NULL,
  `resep_obat` text DEFAULT NULL COMMENT 'Resep/suplemen: Fe, asam folat, dll',
  `jadwal_kunjungan_berikutnya` date DEFAULT NULL,
  `catatan_bidan` text DEFAULT NULL,
  `status_kehamilan` enum('normal','berisiko','darurat') NOT NULL DEFAULT 'normal',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_ibu_hamil_id` (`ibu_hamil_id`),
  KEY `idx_tanggal_periksa` (`tanggal_periksa`),
  CONSTRAINT `fk_pemeriksaan_ibu_hamil` FOREIGN KEY (`ibu_hamil_id`) REFERENCES `ibu_hamils` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Pemeriksaan mendalam ibu hamil ΓÇö hanya dilakukan oleh Bidan';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pemeriksaan_ibu_hamil`
--

LOCK TABLES `pemeriksaan_ibu_hamil` WRITE;
/*!40000 ALTER TABLE `pemeriksaan_ibu_hamil` DISABLE KEYS */;
/*!40000 ALTER TABLE `pemeriksaan_ibu_hamil` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pemeriksaans`
--

DROP TABLE IF EXISTS `pemeriksaans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pemeriksaans` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kunjungan_id` bigint(20) unsigned DEFAULT NULL,
  `pemeriksa_id` bigint(20) unsigned DEFAULT NULL,
  `berat_badan` double(8,2) DEFAULT NULL,
  `tinggi_badan` decimal(5,2) DEFAULT NULL,
  `imt` float DEFAULT NULL COMMENT 'Indeks Massa Tubuh (Otomatis)',
  `kemandirian` enum('A','B','C') DEFAULT NULL COMMENT 'A: Mandiri, B: Sebagian, C: Total (Khusus Lansia)',
  `lingkar_kepala` decimal(5,2) DEFAULT NULL,
  `lingkar_lengan` decimal(5,2) DEFAULT NULL,
  `suhu_tubuh` decimal(4,2) DEFAULT NULL,
  `tekanan_darah` varchar(20) DEFAULT NULL,
  `hemoglobin` decimal(5,2) DEFAULT NULL,
  `gula_darah` varchar(50) DEFAULT NULL,
  `kolesterol` int(11) DEFAULT NULL,
  `asam_urat` decimal(5,2) DEFAULT NULL,
  `keluhan` text DEFAULT NULL,
  `tindakan` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `pasien_id` bigint(20) unsigned NOT NULL,
  `kategori_pasien` enum('bayi','balita','remaja','lansia','ibu_hamil') NOT NULL,
  `tanggal_periksa` date DEFAULT curdate(),
  `status_gizi` enum('baik','kurang','buruk','stunting','obesitas','lebih','risiko') DEFAULT NULL,
  `diagnosa` text DEFAULT NULL,
  `status_verifikasi` enum('pending','verified','rejected') NOT NULL DEFAULT 'pending',
  `catatan_bidan` text DEFAULT NULL,
  `verified_by` bigint(20) unsigned DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_pemeriksaan_kunjungan` (`kunjungan_id`),
  KEY `fk_pemeriksaan_verified_by` (`verified_by`),
  CONSTRAINT `fk_pemeriksaan_verified_by` FOREIGN KEY (`verified_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pemeriksaans`
--

LOCK TABLES `pemeriksaans` WRITE;
/*!40000 ALTER TABLE `pemeriksaans` DISABLE KEYS */;
/*!40000 ALTER TABLE `pemeriksaans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profiles`
--

DROP TABLE IF EXISTS `profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `profiles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `full_name` varchar(191) NOT NULL,
  `nik` varchar(16) DEFAULT NULL,
  `tempat_lahir` varchar(191) DEFAULT NULL,
  `tanggal_lahir` date DEFAULT NULL,
  `jenis_kelamin` enum('L','P') DEFAULT NULL,
  `alamat` text DEFAULT NULL,
  `telepon` varchar(20) DEFAULT NULL,
  `pekerjaan` varchar(191) DEFAULT NULL,
  `golongan_darah` varchar(5) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `profiles_nik_unique` (`nik`),
  KEY `profiles_user_id_foreign` (`user_id`),
  CONSTRAINT `profiles_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profiles`
--

LOCK TABLES `profiles` WRITE;
/*!40000 ALTER TABLE `profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `referensi_nilai_remajas`
--

DROP TABLE IF EXISTS `referensi_nilai_remajas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `referensi_nilai_remajas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `referensi_nilai_remajas`
--

LOCK TABLES `referensi_nilai_remajas` WRITE;
/*!40000 ALTER TABLE `referensi_nilai_remajas` DISABLE KEYS */;
/*!40000 ALTER TABLE `referensi_nilai_remajas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rekam_medis`
--

DROP TABLE IF EXISTS `rekam_medis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rekam_medis` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rekam_medis`
--

LOCK TABLES `rekam_medis` WRITE;
/*!40000 ALTER TABLE `rekam_medis` DISABLE KEYS */;
/*!40000 ALTER TABLE `rekam_medis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `remajas`
--

DROP TABLE IF EXISTS `remajas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `remajas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `kode_remaja` varchar(20) DEFAULT NULL,
  `nik` varchar(16) DEFAULT NULL,
  `nama_lengkap` varchar(191) DEFAULT NULL,
  `tempat_lahir` varchar(100) DEFAULT NULL,
  `tanggal_lahir` date DEFAULT NULL,
  `jenis_kelamin` enum('L','P') DEFAULT NULL,
  `sekolah` varchar(191) DEFAULT NULL,
  `kelas` varchar(20) DEFAULT NULL,
  `nama_ortu` varchar(191) DEFAULT NULL,
  `telepon_ortu` varchar(20) DEFAULT NULL,
  `alamat` text DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_remaja` (`kode_remaja`),
  UNIQUE KEY `nik` (`nik`),
  KEY `fk_remaja_user_acc` (`user_id`),
  CONSTRAINT `fk_remaja_user_acc` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `remajas`
--

LOCK TABLES `remajas` WRITE;
/*!40000 ALTER TABLE `remajas` DISABLE KEYS */;
/*!40000 ALTER TABLE `remajas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(191) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `key` varchar(191) NOT NULL,
  `value` text DEFAULT NULL,
  `type` varchar(191) NOT NULL DEFAULT 'text',
  `group` varchar(191) NOT NULL DEFAULT 'general',
  `description` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `settings_key_unique` (`key`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `nik` varchar(20) DEFAULT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(191) NOT NULL,
  `role` enum('admin','bidan','kader','user') NOT NULL DEFAULT 'user',
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `last_login_at` timestamp NULL DEFAULT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  UNIQUE KEY `nik` (`nik`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `view_balita_usia`
--

DROP TABLE IF EXISTS `view_balita_usia`;
/*!50001 DROP VIEW IF EXISTS `view_balita_usia`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `view_balita_usia` AS SELECT
 1 AS `id`,
  1 AS `user_id`,
  1 AS `kode_balita`,
  1 AS `nik`,
  1 AS `nama_lengkap`,
  1 AS `tempat_lahir`,
  1 AS `tanggal_lahir`,
  1 AS `jenis_kelamin`,
  1 AS `nama_ibu`,
  1 AS `nama_ayah`,
  1 AS `alamat`,
  1 AS `berat_lahir`,
  1 AS `panjang_lahir`,
  1 AS `created_by`,
  1 AS `created_at`,
  1 AS `updated_at`,
  1 AS `usia_tahun`,
  1 AS `sisa_bulan`,
  1 AS `sisa_hari`,
  1 AS `usia_lengkap` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `view_dashboard_kader`
--

DROP TABLE IF EXISTS `view_dashboard_kader`;
/*!50001 DROP VIEW IF EXISTS `view_dashboard_kader`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `view_dashboard_kader` AS SELECT
 1 AS `total_balita`,
  1 AS `total_remaja`,
  1 AS `total_lansia`,
  1 AS `kunjungan_hari_ini`,
  1 AS `kunjungan_saya_hari_ini`,
  1 AS `imunisasi_hari_ini`,
  1 AS `jadwal_hari_ini` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `view_imunisasi_jadwal`
--

DROP TABLE IF EXISTS `view_imunisasi_jadwal`;
/*!50001 DROP VIEW IF EXISTS `view_imunisasi_jadwal`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `view_imunisasi_jadwal` AS SELECT
 1 AS `id`,
  1 AS `kunjungan_id`,
  1 AS `jenis_imunisasi`,
  1 AS `vaksin`,
  1 AS `dosis`,
  1 AS `tanggal_imunisasi`,
  1 AS `batch_number`,
  1 AS `expiry_date`,
  1 AS `penyelenggara`,
  1 AS `created_at`,
  1 AS `updated_at`,
  1 AS `kode_kunjungan`,
  1 AS `nama_pasien`,
  1 AS `hari_menuju`,
  1 AS `status_jadwal` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `view_imunisasi_terbaru`
--

DROP TABLE IF EXISTS `view_imunisasi_terbaru`;
/*!50001 DROP VIEW IF EXISTS `view_imunisasi_terbaru`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `view_imunisasi_terbaru` AS SELECT
 1 AS `id`,
  1 AS `kunjungan_id`,
  1 AS `jenis_imunisasi`,
  1 AS `vaksin`,
  1 AS `dosis`,
  1 AS `tanggal_imunisasi`,
  1 AS `batch_number`,
  1 AS `expiry_date`,
  1 AS `penyelenggara`,
  1 AS `created_at`,
  1 AS `updated_at`,
  1 AS `kode_kunjungan`,
  1 AS `tanggal_kunjungan`,
  1 AS `nama_pasien`,
  1 AS `pasien_type`,
  1 AS `jenis_pasien_label` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `view_kunjungan_harian`
--

DROP TABLE IF EXISTS `view_kunjungan_harian`;
/*!50001 DROP VIEW IF EXISTS `view_kunjungan_harian`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `view_kunjungan_harian` AS SELECT
 1 AS `id`,
  1 AS `kode_kunjungan`,
  1 AS `pasien_id`,
  1 AS `pasien_type`,
  1 AS `tanggal_kunjungan`,
  1 AS `jenis_kunjungan`,
  1 AS `keluhan`,
  1 AS `petugas_id`,
  1 AS `created_at`,
  1 AS `updated_at`,
  1 AS `nama_pasien`,
  1 AS `nik_pasien`,
  1 AS `nama_petugas`,
  1 AS `email_petugas`,
  1 AS `jenis_kunjungan_label`,
  1 AS `jenis_pasien_label` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `view_lansia_usia`
--

DROP TABLE IF EXISTS `view_lansia_usia`;
/*!50001 DROP VIEW IF EXISTS `view_lansia_usia`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `view_lansia_usia` AS SELECT
 1 AS `id`,
  1 AS `user_id`,
  1 AS `kode_lansia`,
  1 AS `nik`,
  1 AS `nama_lengkap`,
  1 AS `tempat_lahir`,
  1 AS `tanggal_lahir`,
  1 AS `jenis_kelamin`,
  1 AS `alamat`,
  1 AS `penyakit_bawaan`,
  1 AS `created_by`,
  1 AS `created_at`,
  1 AS `updated_at`,
  1 AS `usia_bulat` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `view_laporan_balita`
--

DROP TABLE IF EXISTS `view_laporan_balita`;
/*!50001 DROP VIEW IF EXISTS `view_laporan_balita`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `view_laporan_balita` AS SELECT
 1 AS `id`,
  1 AS `kode_balita`,
  1 AS `nama_lengkap`,
  1 AS `nik`,
  1 AS `tempat_lahir`,
  1 AS `tanggal_lahir`,
  1 AS `jenis_kelamin`,
  1 AS `nama_ibu`,
  1 AS `nama_ayah`,
  1 AS `alamat`,
  1 AS `berat_lahir`,
  1 AS `panjang_lahir`,
  1 AS `created_by`,
  1 AS `created_at`,
  1 AS `updated_at`,
  1 AS `usia_bulan`,
  1 AS `usia_tahun`,
  1 AS `kunjungan_terakhir`,
  1 AS `berat_badan`,
  1 AS `tinggi_badan`,
  1 AS `lingkar_kepala`,
  1 AS `lingkar_lengan` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `view_laporan_lansia`
--

DROP TABLE IF EXISTS `view_laporan_lansia`;
/*!50001 DROP VIEW IF EXISTS `view_laporan_lansia`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `view_laporan_lansia` AS SELECT
 1 AS `id`,
  1 AS `kode_lansia`,
  1 AS `nama_lengkap`,
  1 AS `nik`,
  1 AS `tempat_lahir`,
  1 AS `tanggal_lahir`,
  1 AS `jenis_kelamin`,
  1 AS `alamat`,
  1 AS `penyakit_bawaan`,
  1 AS `created_by`,
  1 AS `created_at`,
  1 AS `updated_at`,
  1 AS `usia`,
  1 AS `kunjungan_terakhir`,
  1 AS `berat_badan`,
  1 AS `tinggi_badan`,
  1 AS `tekanan_darah`,
  1 AS `gula_darah`,
  1 AS `kolesterol`,
  1 AS `asam_urat` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `view_laporan_remaja`
--

DROP TABLE IF EXISTS `view_laporan_remaja`;
/*!50001 DROP VIEW IF EXISTS `view_laporan_remaja`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `view_laporan_remaja` AS SELECT
 1 AS `id`,
  1 AS `user_id`,
  1 AS `kode_remaja`,
  1 AS `nik`,
  1 AS `nama_lengkap`,
  1 AS `tempat_lahir`,
  1 AS `tanggal_lahir`,
  1 AS `jenis_kelamin`,
  1 AS `sekolah`,
  1 AS `kelas`,
  1 AS `nama_ortu`,
  1 AS `telepon_ortu`,
  1 AS `alamat`,
  1 AS `created_by`,
  1 AS `created_at`,
  1 AS `updated_at`,
  1 AS `usia_tahun` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `view_statistik_harian`
--

DROP TABLE IF EXISTS `view_statistik_harian`;
/*!50001 DROP VIEW IF EXISTS `view_statistik_harian`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `view_statistik_harian` AS SELECT
 1 AS `tanggal`,
  1 AS `total_kunjungan`,
  1 AS `imunisasi`,
  1 AS `pemeriksaan`,
  1 AS `konsultasi`,
  1 AS `balita`,
  1 AS `remaja`,
  1 AS `lansia` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `view_balita_usia`
--

/*!50001 DROP VIEW IF EXISTS `view_balita_usia`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_balita_usia` AS select `b`.`id` AS `id`,`b`.`user_id` AS `user_id`,`b`.`kode_balita` AS `kode_balita`,`b`.`nik` AS `nik`,`b`.`nama_lengkap` AS `nama_lengkap`,`b`.`tempat_lahir` AS `tempat_lahir`,`b`.`tanggal_lahir` AS `tanggal_lahir`,`b`.`jenis_kelamin` AS `jenis_kelamin`,`b`.`nama_ibu` AS `nama_ibu`,`b`.`nama_ayah` AS `nama_ayah`,`b`.`alamat` AS `alamat`,`b`.`berat_lahir` AS `berat_lahir`,`b`.`panjang_lahir` AS `panjang_lahir`,`b`.`created_by` AS `created_by`,`b`.`created_at` AS `created_at`,`b`.`updated_at` AS `updated_at`,timestampdiff(YEAR,`b`.`tanggal_lahir`,curdate()) AS `usia_tahun`,timestampdiff(MONTH,`b`.`tanggal_lahir`,curdate()) MOD 12 AS `sisa_bulan`,to_days(curdate()) - to_days(`b`.`tanggal_lahir` + interval timestampdiff(MONTH,`b`.`tanggal_lahir`,curdate()) month) AS `sisa_hari`,case when timestampdiff(YEAR,`b`.`tanggal_lahir`,curdate()) >= 1 then concat(timestampdiff(YEAR,`b`.`tanggal_lahir`,curdate()),' Thn ',timestampdiff(MONTH,`b`.`tanggal_lahir`,curdate()) MOD 12,' Bln') else concat(timestampdiff(MONTH,`b`.`tanggal_lahir`,curdate()),' Bln ',to_days(curdate()) - to_days(`b`.`tanggal_lahir` + interval timestampdiff(MONTH,`b`.`tanggal_lahir`,curdate()) month),' Hari') end AS `usia_lengkap` from `balitas` `b` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_dashboard_kader`
--

/*!50001 DROP VIEW IF EXISTS `view_dashboard_kader`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_dashboard_kader` AS select (select count(0) from `balitas`) AS `total_balita`,(select count(0) from `remajas`) AS `total_remaja`,(select count(0) from `lansias`) AS `total_lansia`,(select count(0) from `kunjungans` where cast(`kunjungans`.`created_at` as date) = curdate()) AS `kunjungan_hari_ini`,(select count(0) from `kunjungans` where `kunjungans`.`petugas_id` = 3 and cast(`kunjungans`.`created_at` as date) = curdate()) AS `kunjungan_saya_hari_ini`,(select count(0) from `imunisasis` where cast(`imunisasis`.`created_at` as date) = curdate()) AS `imunisasi_hari_ini`,(select count(0) from `jadwal_posyandu` where `jadwal_posyandu`.`tanggal` = curdate()) AS `jadwal_hari_ini` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_imunisasi_jadwal`
--

/*!50001 DROP VIEW IF EXISTS `view_imunisasi_jadwal`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_imunisasi_jadwal` AS select `i`.`id` AS `id`,`i`.`kunjungan_id` AS `kunjungan_id`,`i`.`jenis_imunisasi` AS `jenis_imunisasi`,`i`.`vaksin` AS `vaksin`,`i`.`dosis` AS `dosis`,`i`.`tanggal_imunisasi` AS `tanggal_imunisasi`,`i`.`batch_number` AS `batch_number`,`i`.`expiry_date` AS `expiry_date`,`i`.`penyelenggara` AS `penyelenggara`,`i`.`created_at` AS `created_at`,`i`.`updated_at` AS `updated_at`,`k`.`kode_kunjungan` AS `kode_kunjungan`,case when `k`.`pasien_type` = 'App\\Models\\Balita' then `b`.`nama_lengkap` when `k`.`pasien_type` = 'App\\Models\\Remaja' then `r`.`nama_lengkap` when `k`.`pasien_type` = 'App\\Models\\Lansia' then `l`.`nama_lengkap` end AS `nama_pasien`,to_days(`i`.`tanggal_imunisasi`) - to_days(curdate()) AS `hari_menuju`,case when to_days(`i`.`tanggal_imunisasi`) - to_days(curdate()) < 0 then 'terlewat' when to_days(`i`.`tanggal_imunisasi`) - to_days(curdate()) = 0 then 'hari_ini' when to_days(`i`.`tanggal_imunisasi`) - to_days(curdate()) <= 7 then 'minggu_ini' else 'mendatang' end AS `status_jadwal` from ((((`imunisasis` `i` join `kunjungans` `k` on(`i`.`kunjungan_id` = `k`.`id`)) left join `balitas` `b` on(`k`.`pasien_id` = `b`.`id` and `k`.`pasien_type` = 'App\\Models\\Balita')) left join `remajas` `r` on(`k`.`pasien_id` = `r`.`id` and `k`.`pasien_type` = 'App\\Models\\Remaja')) left join `lansias` `l` on(`k`.`pasien_id` = `l`.`id` and `k`.`pasien_type` = 'App\\Models\\Lansia')) where `i`.`tanggal_imunisasi` >= curdate() - interval 30 day order by `i`.`tanggal_imunisasi` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_imunisasi_terbaru`
--

/*!50001 DROP VIEW IF EXISTS `view_imunisasi_terbaru`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_imunisasi_terbaru` AS select `i`.`id` AS `id`,`i`.`kunjungan_id` AS `kunjungan_id`,`i`.`jenis_imunisasi` AS `jenis_imunisasi`,`i`.`vaksin` AS `vaksin`,`i`.`dosis` AS `dosis`,`i`.`tanggal_imunisasi` AS `tanggal_imunisasi`,`i`.`batch_number` AS `batch_number`,`i`.`expiry_date` AS `expiry_date`,`i`.`penyelenggara` AS `penyelenggara`,`i`.`created_at` AS `created_at`,`i`.`updated_at` AS `updated_at`,`k`.`kode_kunjungan` AS `kode_kunjungan`,`k`.`tanggal_kunjungan` AS `tanggal_kunjungan`,case when `k`.`pasien_type` = 'App\\Models\\Balita' then `b`.`nama_lengkap` when `k`.`pasien_type` = 'App\\Models\\Remaja' then `r`.`nama_lengkap` when `k`.`pasien_type` = 'App\\Models\\Lansia' then `l`.`nama_lengkap` end AS `nama_pasien`,`k`.`pasien_type` AS `pasien_type`,case `k`.`pasien_type` when 'App\\Models\\Balita' then 'Balita' when 'App\\Models\\Remaja' then 'Remaja' when 'App\\Models\\Lansia' then 'Lansia' end AS `jenis_pasien_label` from ((((`imunisasis` `i` join `kunjungans` `k` on(`i`.`kunjungan_id` = `k`.`id`)) left join `balitas` `b` on(`k`.`pasien_id` = `b`.`id` and `k`.`pasien_type` = 'App\\Models\\Balita')) left join `remajas` `r` on(`k`.`pasien_id` = `r`.`id` and `k`.`pasien_type` = 'App\\Models\\Remaja')) left join `lansias` `l` on(`k`.`pasien_id` = `l`.`id` and `k`.`pasien_type` = 'App\\Models\\Lansia')) order by `i`.`tanggal_imunisasi` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_kunjungan_harian`
--

/*!50001 DROP VIEW IF EXISTS `view_kunjungan_harian`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_kunjungan_harian` AS select `k`.`id` AS `id`,`k`.`kode_kunjungan` AS `kode_kunjungan`,`k`.`pasien_id` AS `pasien_id`,`k`.`pasien_type` AS `pasien_type`,`k`.`tanggal_kunjungan` AS `tanggal_kunjungan`,`k`.`jenis_kunjungan` AS `jenis_kunjungan`,`k`.`keluhan` AS `keluhan`,`k`.`petugas_id` AS `petugas_id`,`k`.`created_at` AS `created_at`,`k`.`updated_at` AS `updated_at`,case when `k`.`pasien_type` = 'App\\Models\\Balita' then `b`.`nama_lengkap` when `k`.`pasien_type` = 'App\\Models\\Remaja' then `r`.`nama_lengkap` when `k`.`pasien_type` = 'App\\Models\\Lansia' then `l`.`nama_lengkap` end AS `nama_pasien`,case when `k`.`pasien_type` = 'App\\Models\\Balita' then `b`.`nik` when `k`.`pasien_type` = 'App\\Models\\Remaja' then `r`.`nik` when `k`.`pasien_type` = 'App\\Models\\Lansia' then `l`.`nik` end AS `nik_pasien`,`up`.`full_name` AS `nama_petugas`,`u`.`email` AS `email_petugas`,case `k`.`jenis_kunjungan` when 'umum' then 'Kunjungan Umum' when 'imunisasi' then 'Imunisasi' when 'pemeriksaan' then 'Pemeriksaan' when 'konsultasi' then 'Konsultasi' when 'darurat' then 'Darurat' end AS `jenis_kunjungan_label`,case `k`.`pasien_type` when 'App\\Models\\Balita' then 'Balita' when 'App\\Models\\Remaja' then 'Remaja' when 'App\\Models\\Lansia' then 'Lansia' end AS `jenis_pasien_label` from (((((`kunjungans` `k` left join `balitas` `b` on(`k`.`pasien_id` = `b`.`id` and `k`.`pasien_type` = 'App\\Models\\Balita')) left join `remajas` `r` on(`k`.`pasien_id` = `r`.`id` and `k`.`pasien_type` = 'App\\Models\\Remaja')) left join `lansias` `l` on(`k`.`pasien_id` = `l`.`id` and `k`.`pasien_type` = 'App\\Models\\Lansia')) left join `users` `u` on(`k`.`petugas_id` = `u`.`id`)) left join `profiles` `up` on(`u`.`id` = `up`.`user_id`)) order by `k`.`tanggal_kunjungan` desc,`k`.`created_at` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_lansia_usia`
--

/*!50001 DROP VIEW IF EXISTS `view_lansia_usia`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_lansia_usia` AS select `l`.`id` AS `id`,`l`.`user_id` AS `user_id`,`l`.`kode_lansia` AS `kode_lansia`,`l`.`nik` AS `nik`,`l`.`nama_lengkap` AS `nama_lengkap`,`l`.`tempat_lahir` AS `tempat_lahir`,`l`.`tanggal_lahir` AS `tanggal_lahir`,`l`.`jenis_kelamin` AS `jenis_kelamin`,`l`.`alamat` AS `alamat`,`l`.`penyakit_bawaan` AS `penyakit_bawaan`,`l`.`created_by` AS `created_by`,`l`.`created_at` AS `created_at`,`l`.`updated_at` AS `updated_at`,timestampdiff(YEAR,`l`.`tanggal_lahir`,curdate()) AS `usia_bulat` from `lansias` `l` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_laporan_balita`
--

/*!50001 DROP VIEW IF EXISTS `view_laporan_balita`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_laporan_balita` AS select `b`.`id` AS `id`,`b`.`kode_balita` AS `kode_balita`,`b`.`nama_lengkap` AS `nama_lengkap`,`b`.`nik` AS `nik`,`b`.`tempat_lahir` AS `tempat_lahir`,`b`.`tanggal_lahir` AS `tanggal_lahir`,`b`.`jenis_kelamin` AS `jenis_kelamin`,`b`.`nama_ibu` AS `nama_ibu`,`b`.`nama_ayah` AS `nama_ayah`,`b`.`alamat` AS `alamat`,`b`.`berat_lahir` AS `berat_lahir`,`b`.`panjang_lahir` AS `panjang_lahir`,`b`.`created_by` AS `created_by`,`b`.`created_at` AS `created_at`,`b`.`updated_at` AS `updated_at`,timestampdiff(MONTH,`b`.`tanggal_lahir`,curdate()) AS `usia_bulan`,timestampdiff(YEAR,`b`.`tanggal_lahir`,curdate()) AS `usia_tahun`,`k`.`tanggal_kunjungan` AS `kunjungan_terakhir`,`p`.`berat_badan` AS `berat_badan`,`p`.`tinggi_badan` AS `tinggi_badan`,`p`.`lingkar_kepala` AS `lingkar_kepala`,`p`.`lingkar_lengan` AS `lingkar_lengan` from ((`balitas` `b` left join `kunjungans` `k` on(`b`.`id` = `k`.`pasien_id` and `k`.`pasien_type` = 'App\\Models\\Balita')) left join `pemeriksaans` `p` on(`k`.`id` = `p`.`kunjungan_id`)) where `k`.`tanggal_kunjungan` = (select max(`kunjungans`.`tanggal_kunjungan`) from `kunjungans` where `kunjungans`.`pasien_id` = `b`.`id` and `kunjungans`.`pasien_type` = 'App\\Models\\Balita') or `k`.`tanggal_kunjungan` is null */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_laporan_lansia`
--

/*!50001 DROP VIEW IF EXISTS `view_laporan_lansia`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_laporan_lansia` AS select `l`.`id` AS `id`,`l`.`kode_lansia` AS `kode_lansia`,`l`.`nama_lengkap` AS `nama_lengkap`,`l`.`nik` AS `nik`,`l`.`tempat_lahir` AS `tempat_lahir`,`l`.`tanggal_lahir` AS `tanggal_lahir`,`l`.`jenis_kelamin` AS `jenis_kelamin`,`l`.`alamat` AS `alamat`,`l`.`penyakit_bawaan` AS `penyakit_bawaan`,`l`.`created_by` AS `created_by`,`l`.`created_at` AS `created_at`,`l`.`updated_at` AS `updated_at`,timestampdiff(YEAR,`l`.`tanggal_lahir`,curdate()) AS `usia`,`k`.`tanggal_kunjungan` AS `kunjungan_terakhir`,`p`.`berat_badan` AS `berat_badan`,`p`.`tinggi_badan` AS `tinggi_badan`,`p`.`tekanan_darah` AS `tekanan_darah`,`p`.`gula_darah` AS `gula_darah`,`p`.`kolesterol` AS `kolesterol`,`p`.`asam_urat` AS `asam_urat` from ((`lansias` `l` left join `kunjungans` `k` on(`l`.`id` = `k`.`pasien_id` and `k`.`pasien_type` = 'App\\Models\\Lansia')) left join `pemeriksaans` `p` on(`k`.`id` = `p`.`kunjungan_id`)) where `k`.`tanggal_kunjungan` = (select max(`kunjungans`.`tanggal_kunjungan`) from `kunjungans` where `kunjungans`.`pasien_id` = `l`.`id` and `kunjungans`.`pasien_type` = 'App\\Models\\Lansia') or `k`.`tanggal_kunjungan` is null */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_laporan_remaja`
--

/*!50001 DROP VIEW IF EXISTS `view_laporan_remaja`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_laporan_remaja` AS select `r`.`id` AS `id`,`r`.`user_id` AS `user_id`,`r`.`kode_remaja` AS `kode_remaja`,`r`.`nik` AS `nik`,`r`.`nama_lengkap` AS `nama_lengkap`,`r`.`tempat_lahir` AS `tempat_lahir`,`r`.`tanggal_lahir` AS `tanggal_lahir`,`r`.`jenis_kelamin` AS `jenis_kelamin`,`r`.`sekolah` AS `sekolah`,`r`.`kelas` AS `kelas`,`r`.`nama_ortu` AS `nama_ortu`,`r`.`telepon_ortu` AS `telepon_ortu`,`r`.`alamat` AS `alamat`,`r`.`created_by` AS `created_by`,`r`.`created_at` AS `created_at`,`r`.`updated_at` AS `updated_at`,timestampdiff(YEAR,`r`.`tanggal_lahir`,curdate()) AS `usia_tahun` from `remajas` `r` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_statistik_harian`
--

/*!50001 DROP VIEW IF EXISTS `view_statistik_harian`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_statistik_harian` AS select cast(`k`.`tanggal_kunjungan` as date) AS `tanggal`,count(0) AS `total_kunjungan`,count(case when `k`.`jenis_kunjungan` = 'imunisasi' then 1 end) AS `imunisasi`,count(case when `k`.`jenis_kunjungan` = 'pemeriksaan' then 1 end) AS `pemeriksaan`,count(case when `k`.`jenis_kunjungan` = 'konsultasi' then 1 end) AS `konsultasi`,count(case when `k`.`pasien_type` = 'App\\Models\\Balita' then 1 end) AS `balita`,count(case when `k`.`pasien_type` = 'App\\Models\\Remaja' then 1 end) AS `remaja`,count(case when `k`.`pasien_type` = 'App\\Models\\Lansia' then 1 end) AS `lansia` from `kunjungans` `k` group by cast(`k`.`tanggal_kunjungan` as date) order by cast(`k`.`tanggal_kunjungan` as date) desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-05  2:15:16
